.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #333 !important; /* Utilisation de !important si un autre style écrase */
}

.navbar .button {
    color: white !important;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Arial', sans-serif;
}
