div {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container {
  display:flex;               /* Utilise flexbox pour aligner les éléments horizontalement */
  flex-wrap:wrap;            /* Permet aux cases de passer à la ligne si l'espace est insuffisant */
  justify-content: flex-start; /* Aligne les cases au début du conteneur */
  align-items: center;         /* Centre les cases verticalement si la hauteur du conteneur est définie */
}

.rose { 
  border: 1px solid rgb(151, 64, 64);      /* Bordure de la boîte */
  border-radius: 10px;         /* Arrondit les coins à 10px */
  padding: 10px;               /* Ajoute un espacement interne */
  width: 500px;                /* Largeur de la case */
  height: 300px;               /* Hauteur de la case */
  background-color: rgb(151, 64, 64); /* Affiche le texte en vert */          
}
