footer {
    background-color: #022b35a5;
    color: rgb(14, 49, 59);
    padding:5px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0px 10px #022b35a5;
    width:100%;
    position: relative;
}
footer p:hover {
    text-decoration: underline;
}